<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div *ngFor="let message of base.messages$ | async"
    class="toast align-items-center text-white {{ message.type }} border-0 show" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        {{ message.text }}
      </div>
      <button type="button" class="btn-close btn-close-black me-2 m-auto" (click)="base.remove(message.text)"
        aria-label="Close"></button>
    </div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div *ngFor="let message of auth.messages$ | async"
    class="toast align-items-center text-white {{ message.type }} border-0 show" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        {{ message.text }}
      </div>
      <button type="button" class="btn-close btn-close-black me-2 m-auto" (click)="base.remove(message.text)"
        aria-label="Close"></button>
    </div>
  </div>
</div>