<footer>
    <div class="footer-menu">
        <div class="container p-lg-0">
            <div class="row">
                <div class="col-md-6 g10-lg-2">
                    <div class="footer-logo">LOGO helye
                        <i class="bi bi-star"></i>
                        <img src="" alt="">         <!--ide egy kis méretű kép jön, egy logó, ami max 120px magas-->
                    </div>
                </div>
                <div class="col-md-6 g10-lg-2">Ez egy üres hely csak</div>
                <div class="col-md-6 g10-lg-2">Ez egy üres hely csak</div>
                <div class="col-md-6 g10-lg-2">
                    <h4>Kapcsolat</h4>
                    <ul class="footer-connects">
                        <li class="footer-connect-item" style="cursor: pointer">
                            <i class="bi bi-telephone"></i>
                            <p class="connect-item">+36 30 123 4567</p>
                        </li>
                        <li class="footer-connect-item" style="cursor: pointer">
                            <i class="bi bi-envelope"></i>
                            <p class="connect-item">valamivalami.hu</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 g10-lg-2">
                    <h4>Információk</h4>
                    <ul class="footer-menu-items">
                        <li class="footer-menu-item" style="cursor: pointer">Rólunk</li>
                        <li class="footer-menu-item" style="cursor: pointer">Kapcsolat</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-credits">
        <div class="container p-lg-0">
            <div class="footer-credits-inner">
                <div class="footer-texts">
                    <div class="all-rights">© 2025 ÁRBEDE. Minden jog fenntartva.</div>
                    <div class="made-by">Tervezte és készítette: Árpi, Bea, Dezső</div>
                </div>
            </div>
        </div>
    </div>
</footer>
