/*Általános*/
@media (min-width: 0px) {
    .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
}
  
@media (min-width: 992px) {
    .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .p-lg-0 {
        padding: 0 !important;
    }
}

/*Gombok kisebb képernyőn törjenek egymás alá*/
@media (max-width: 576px) {
    td:last-child {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

/*Sortörés engedélyezése kisebb képernyőn azokra az oszlopokra, ahova kell*/
@media (max-width: 768px) {
    th, td {
        white-space: normal;
        word-wrap: break-word;
    }

    th:nth-child(3), td:nth-child(3), /* Program neve */
    th:nth-child(8), td:nth-child(8), /* Leírás */
    th:nth-child(10), td:nth-child(10), /* Helyszín */
    th:nth-child(11), td:nth-child(11)  /* Cím */
    {
        min-width: auto;
        max-width: 100%;
    }
}

.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

.row {
    max-width: 100%;
    padding-right: -.75rem;
    padding-left: -.75rem;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-grow: 1;
}

h4 {
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 1.5rem;
}


/*Új program felvétele*/
.new-datas {
    background: #fff;
    border-radius: .375rem;
    padding: 1.75rem;
    margin-bottom: 2rem;
}

#saveButton {
    display: flex;
    justify-content: flex-end;
}

.validation {
    font-size: .875rem;
}


/*TÁBLÁZAT*/
th {
    position: sticky;
    top: 0;
    z-index: 0;
}

td {
    vertical-align: middle;
}

.table-block {
    padding: 1.75rem;
    background: #fff;
    border-radius: .375rem;
    min-height: 500px;
}

.table-responsive {
    overflow-x: auto;
}

.scrollable-content {
    position: relative;
    max-height: 600px;
    overflow-y: auto; /* 'scroll' helyett 'auto' */
}

.scrollable-content::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.scrollable-content::-webkit-scrollbar-track {
    background: transparent;
}

.bi-pencil-fill {
  cursor: pointer;
}


/*Fix szélességek beállítása*/
th, td {
    min-width: 150px;
    max-width: 200px;
    white-space: nowrap;
}

td:first-child, th:first-child {
    padding-left: 1.5rem;
    min-width: 150px;
    max-width: 250px;
}

th:nth-child(4), td:nth-child(4), th:nth-child(14), td:nth-child(14), th:nth-child(15), td:nth-child(15) { /* Program neve, GPX fájl, Kép */
    min-width: 200px;
    max-width: 350px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

th:nth-child(9), td:nth-child(9), th:nth-child(13), td:nth-child(13) { /* Leírás, Weboldal */
    min-width: 200px;
    max-width: 400px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis
}

th:nth-child(11), td:nth-child(11) { /* Helyszín */
    min-width: 150px;
    max-width: 200px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

th:nth-child(12), td:nth-child(12) { /* Cím */
    min-width: 150px;
    max-width: 250px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container {
    display: inline-flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

