.container {
    max-width: 90%;
}

#titleNewEvent {
    margin-bottom: 5px;
    color: #dee2e6;
}

.table-container {
    width: 100%;
    overflow-x: auto; /* Vízszintes görgetés */
    position: relative; /* Megakadályozza a gombok elcsúszását */
}

.scrollable-content {
    display: flex;
    flex-direction: column;
    min-width: fit-content; /* Ezt változtatjuk! */
    padding-bottom: 10px;
}

.row {
    margin: 5px;
    padding-bottom: 3px;
    display: flex;
    flex-wrap: nowrap;
    min-width: max-content;
    text-transform: capitalize;
}

.header-row {
    display: flex;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.col {
    flex: 0 1 auto;
    text-align: left;
    border-bottom: thin solid #dee2e6;
    min-width: 100px;
    max-width: 300px;
    padding-bottom: 5px
}

#eventsData {
    display: block;
    word-wrap: break-word; /* Tördelje a hosszú szöveget */
    overflow-wrap: break-word; /* Biztosítja a tördelést */
    white-space: normal; /* Engedi a több sorba törést */
    overflow: hidden; /* Rejtse el a kilógó szöveget */
    text-overflow: ellipsis; /* Ha túl sok a szöveg, a végén "..." legyen */
    max-height: 40px; /* Az input magassága a tartalomhoz igazodik */
    line-height: 1.2em;
    padding: 5px;
}

textarea {
    resize: none;
}

#newDataInputsContainer {
    background-color: bisque;
    border-radius: 5px;
    padding: 10px;
}

#newDataInputs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.col-common {
    flex: content;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: left;
    border-bottom: thin solid #dee2e6;
    width: auto;
}

label {
    margin: 0 0 3px;
    text-transform: capitalize;
}

#newEvents {
    border-bottom: none;
    width: 250px;
}

.form-control {
    border: none;
}

.form-control:focus {
    border: 1px solid #dee2e6;
    box-shadow: none;
}

#input-0, #input-2, #input-3, #input-4 {
    min-width: 250px;
    max-width: 100%;
}

#input-1 {
    min-width: 400px;
    max-width: 100%;
}

#input-4,#input-5, #input-6 {
    min-width: 350px;
    max-width: 100%;
}

#input-7, #input-8, #input-9, #input-10 {
    min-width: 150px;
    max-width: 100%;
}

.input-common {
    border: 1px solid #dee2e6;
    width: 100%;
}

#fejlec, #ures {
    border-bottom: none;
}

.col-actions {
    width: 150px;
    display: flex;
    gap: 5px;
    border-bottom: thin solid #dee2e6;
    padding-bottom: 5px;
}

.sticky-actions {
    position: sticky;
    right: 0;
    background-color: white;
    z-index: 10;
    padding-left: 10px;
    min-width: 150px;
    max-width: 150px;
}

#saveButton {
    align-content: flex-end;
    justify-content: flex-end;
    padding-top: 10px;
}

.button-group {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}  

#save {
    justify-content: baseline;
}
