<!-- Adatsub tartalma {{cikkek|json}} -->

<div class="container">
  <!-- <h1 class="">Programok</h1> -->
  <div id="titleNewEvent">ÚJ PROGRAM FELVÉTELE</div>
  <!-- Új rekord felvétele -->
  <div class="" id="newDataInputsContainer">
    <div  class="" id="newDataInputs">
      <div *ngFor="let newEvent of newEvents; let y =index" class="col-common" id="newEvents">  
        <label class="form-label form-label-sm">{{newEvent}}</label>  
        <input [(ngModel)]="newCikk[newEvent]" type="text" class="form-control form-control-sm input-common" [id]="'input-' + y" placeholder="">
      </div>
    </div>
    <div class="button" id="saveButton">
      <div  class="button-group">
          <button  (click)="newData()" type="button" class="btn btn-primary btn-sm">Mentés</button>
      </div>
    </div>
  </div>
  <br>  
  
  <!-- <div class="" id="newDataInputsContainer">
    <form class="row g-4" id="newDataRow">
      <div class="col-md-6">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control-sm" id="inputName">
      </div>
      <div class="col-md-6">
        <label for="inputDescripton" class="form-label">Description</label>
        <input type="textarea" class="form-control-sm" id="inputDescription">
      </div>
      <div class="col-12">
        <label for="inputLocationName" class="form-label">Location name</label>
        <input type="text" class="form-control-sm" id="inputLocationName" placeholder="Lurdy Ház">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control-sm" id="inputAddress" placeholder="Apartment, studio, or floor">
      </div>
      <div class="col-md-6">
        <label for="inputCountry" class="form-label">Country</label>
        <input type="text" class="form-control-sm" id="inputCountry">
      </div>
      <div class="col-md-4">
        <label for="inputGPSLink" class="form-label">GPS link</label>
        <input type="text" class="form-control-sm" id="inputGPSLink">
      </div>
      <div class="col-md-2">
        <label for="inputWeblink" class="form-label">Web link</label>
        <input type="text" class="form-control-sm" id="inputWeblink">
      </div>
      <div class="col-md-2">
        <label for="inputStartDate" class="form-label">Date from</label>
        <input type="text" class="form-control-sm" id="inputStartDate">
      </div>
      <div class="col-md-2">
        <label for="inputEndDate" class="form-label">Date to</label>
        <input type="text" class="form-control-sm" id="inputWeblink">
      </div>
      <div class="col-md-2">
        <label for="inputStartTime" class="form-label">Opening time</label>
        <input type="text" class="form-control-sm" id="inputStartTime">
      </div>
      <div class="col-md-2">
        <label for="inputEndTime" class="form-label">Closing time</label>
        <input type="text" class="form-control-sm" id="inputEndTime">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-sm">Mentés</button>
      </div>
    </form>
  </div> -->
 

  <div class="table-container">
    <div class="scrollable-content"> 
      
      <!-- Fejléc Kiíratás -->
      <div class="row header-row">
        <div *ngFor="let oszlop of oszlopok" class="col" id="fejlec">
            {{oszlop}}
        </div>
        <div class="col-actions" id="ures"></div>
      </div>
    
    <!-- Táblázat megjelenítése -->
  
      <div *ngFor="let cikk of cikkek; let i = index" class="row align-items-center" id="enetsDataRow">
        <div *ngFor="let oszlop of oszlopok" class="col word-wrap" id="eventsDataCol">
          <textarea [(ngModel)]="cikk[oszlop]" type="text" class="form-control form-control-sm" id="eventsData"></textarea>
        </div>
        <div class="col-actions sticky-actions">
          <div class="button-group" id="updateDelete">
            <button class="btn btn-primary btn-sm" (click)="updateData(i)">Módosít</button>
            <button class="btn btn-secondary btn-sm ms-2" (click)="deleteData(i)">Törlés</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


