<div *ngIf='localStorage.getItem("admin") != "0"' class="container p-lg-0">
  <h4 *ngIf="localStorage.getItem('admin') === '2'">Felhasználók kezelése</h4>
  <h4 *ngIf="localStorage.getItem('admin') === '1'">Felhasználók</h4>
  <div class="table-block">
    <h5 *ngIf="localStorage.getItem('admin') === '2'">Jogosultság módosítása</h5>
    <div class="table-inner scrollable-content table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Műveletek</th>
            <th scope="col">Azonosító</th>
            <th scope="col">Felhasználó neve</th>
            <th scope="col">Felhasználó email címe</th>
            <th scope="col">Felhasználó jogosultsága</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td *ngIf="localStorage.getItem('admin') === '2'">
              <div class="button-container">
                <i *ngIf="(editModeId !== user.id) && (user.admin != '2')" (click)="editRow(user)"
                  class="bi bi-pencil-fill" style="font-size: 1.2rem;"></i>
                <button *ngIf="editModeId === user.id" class="btn btn-secondary"
                  (click)="updateData(user)">Módosítás</button>
                <button *ngIf="editModeId === user.id" class="btn btn-outline-secondary"
                  (click)="cancelEdit()">Mégsem</button>
                <button *ngIf="(editModeId !== user.id) && (user.admin != '2')" class="btn btn-outline-secondary"
                  (click)="deleteData(user)">Törlés</button>
              </div>
            </td>
            <td *ngIf="localStorage.getItem('admin') === '1'">
              <div class="button-container">
                <i *ngIf="(editModeId !== user.id) && (user.admin == '0')" (click)="editRow(user)"
                  class="bi bi-pencil-fill" style="font-size: 1.2rem;"></i>
                <button *ngIf="editModeId === user.id" class="btn btn-secondary"
                  (click)="updateData(user)">Módosítás</button>
                <button *ngIf="editModeId === user.id" class="btn btn-outline-secondary"
                  (click)="cancelEdit()">Mégsem</button>
              </div>
            </td>
            <td>{{user.id}}</td>
            <td>
              <span *ngIf="editModeId !== user.id">{{user.name}}</span>
              <input *ngIf="(editModeId === user.id)" [(ngModel)]="user.name" class="form-control">
            </td>
            <td>
              <span *ngIf="editModeId !== user.id">{{user.email}}</span>
              <input *ngIf="(editModeId === user.id)" [(ngModel)]="user.email" class="form-control">
            </td>

            <td>
              <span *ngIf="editModeId !== user.id">{{user.admin}}</span>
              <div *ngIf="(editModeId === user.id)" class="input-group" id="tagDropdown">
                <select class="form-select" id="" [(ngModel)]="user.admin" [disabled]="selectDisabled">
                  <option [value]="0">Felhasználó</option>
                  <option [value]="1">Admin</option>
                </select>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
