<div class="container p-lg-0">
  <div class="login row">
    <div class="col-12 col-6  col-md-3 col-lg-4">
      <div class="panel">

        <div class="card-body">
          <h4 class="card-title">Regisztráció</h4>

          <div class="name-input mb-3">
            <label class="form-label">Felhasználónév</label>
            <input type="email" (keydown.enter)="userRegistration()" [(ngModel)]="name" class="form-control" id="nameInput" placeholder="Teszt Eleonóra">
            <div *ngFor="let errorMessage of erName" class="validation">
              <div *ngIf="erName != null && registrationSuccess == false" class="text-danger" role="alert">
                {{errorMessage}}
              </div>
            </div>
          </div>


          <div class="email-input mb-3">
            <label class="form-label">Email cím</label>
            <input type="email" (keydown.enter)="userRegistration()" [(ngModel)]="email" class="form-control" id="emailInput" placeholder="name@example.com">
            <div *ngFor="let errormessage of erEmail" class="validation">
              <div *ngIf="erEmail != null && registrationSuccess == false ," class="text-danger" role="alert" >
                {{errormessage}}
              </div>
            </div>
          </div>


          <label class="form-label">Jelszó</label>
          <div class="input-group mb-3" id="passwordInput">
            <input [type]="visiblePassword()" (keydown.enter)="userRegistration()" [(ngModel)]="password" class="form-control" placeholder="Password12" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" type="button"><i (click)="eyeIconToShowPassword=!eyeIconToShowPassword" class="bi bi-eye"></i></span>
            <div class="validation">
              <div *ngIf="erPassword != null && registrationSuccess == false" class="text-danger" role="alert">
                <p *ngFor="let errorMessage of erPassword">{{errorMessage}}</p>
              </div>
            </div>
          </div>

          <label class="form-label">Jelszó megerősítése</label>
          <div class="input-group mb-3" id="passwordInput2">
            <input [type]="visiblePassword()" (keydown.enter)="userRegistration()" [(ngModel)]="confirmPassword" class="form-control" placeholder="Password12" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" type="button"><i (click)="eyeIconToShowPassword=!eyeIconToShowPassword" class="bi bi-eye"></i></span>
            <div class="validation">
              <div *ngIf="erPassword != null && registrationSuccess == false" class="text-danger" role="alert">
              <p *ngFor="let errorMessage of erPassword">{{errorMessage}}</p>
            </div>
          </div>
          </div>


          <div class="buttons-block">
            <button [disabled]="isNotValidSignUp()" type="button" (click)="userRegistration()" class="btn btn-primary">Regisztráció</button>
          </div>
          <div *ngIf="mailRegError" class="text-danger" role="alert">
            {{mailRegText}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
