.navbar {
    padding: 1rem 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
}

.navbar-right {
    flex: 0 0 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding .2sease-in-out;
    transition-delay: 250ms;
}

.input-group {
    margin-right: 1rem;
}

/* .navbar-right-icons {
    flex: 0 1 auto;
    position: relative;
} */

.user-menu {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    right: 0;
    left: auto;
    margin-top: var(--bs-dropdown-spacer);
}