<!-- {{user|json}} -->
<header class="header unfixed">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container p-lg-0">
      <div class="container-fluid">
        <div class="logo-unit">
          <div class="logo">
            <a routerLink="/home" class="navbar-brand" href="#" style="cursor:pointer">
              <img src="" atl="logo">LOGO
            </a>
          </div>
        </div>
        <!--átkerült a user name a jobb oldalra!!-->
        <!-- <div class="hello-user">
          <a class="navbar-brand"><span *ngIf="user">Hello {{user.name}}!</span></a>
        </div> -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li *ngIf="!user || (user.admin== 0)" class="nav-item">
              <a routerLink="/home" class="nav-link active" aria-current="page" href="#">Főoldal</a>
            </li>
            <li *ngIf="user && (user.admin== 0)" class="nav-item">
              <a routerLink="/all-events" class="nav-link">Események</a>
            </li>
            <!-- <li *ngIf="user" class="nav-item">
              <a routerLink="/detailed-event" class="nav-link">Részletes esemény oldal</a>
            </li> -->
            <!--ÁTKERÜLT A JOBB OLDALRA A USER IKONHOZ!!! TÖRÖLHETŐ, HA MINDENKI MEGJEGYEZTE-->
            <!-- <li *ngIf="!loggedIn" class="nav-item">
              <a routerLink="/login" class="nav-link">Bejelentkezés</a>
            </li> -->
            <!-- <li *ngIf="!user" class="nav-item">
              <a routerLink="/registration" class="nav-link">Regisztráció</a>
            </li> -->
            <li *ngIf="user && (user.admin == 1 || user.admin == 2)" class="nav-item">
              <a routerLink="/admin" class="nav-link">Események</a>
            </li>
            <li *ngIf="user && (user.admin == 1 || user.admin == 2)" class="nav-item">
              <a routerLink="/tags" class="nav-link">Címkék</a>
            </li>
            <!--Itt meg kell csinálni, hogy csak superadmin vehessen fel ADMIN jogú felhasználót-->
            <li *ngIf="user && (user.admin == 1 || user.admin == 2)" class="nav-item">
              <a routerLink="/users" class="nav-link">Felhasználók</a>
            </li>
            <li *ngIf="user && (user.admin == 1 || user.admin == 2)" class="nav-item">
              <a routerLink="/events-tags-link" class="nav-link">Esemény-tag kapcsoló</a>
            </li>
          </ul>
          <!--Navbar közép-->
          <div class="navbar-middle">
            <div *ngIf="user && (user.admin== 0)" class="input-group">
              <input type="text" class="form-control" placeholder="Keresés..." aria-label="Keresés..." aria-describedby="button-addon2">
              <a href="" class="btn btn-outline-secondary" type="button" id="search-button" >
                <i class="bi bi-search" style="cursor:pointer"></i>
              </a>
            </div>
          </div>
          <!--Navbar jobb oldal-->
          <div class="navbar-right">
            <!-- <div class="input-group">
              <input type="text" class="form-control" placeholder="Keresés..." aria-label="Keresés..." aria-describedby="button-addon2">
              <a href="" class="btn btn-outline-secondary" type="button" id="search-button" >
                <i class="bi bi-search" style="cursor:pointer"></i>
              </a>
            </div> -->
            <div class="navbar-right-icons">
              <div *ngIf="!user" class="user-login">
                <button routerLink="/login" class="btn btn-outline-primary" title="Bejelentkezés">
                  <i class="bi bi-person-fill" style="font-size: 1.2rem;"></i>Bejelentkezés
                </button>
              </div>
              <div *ngIf="user" class="dropdown user-menu logged-in">
                  <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" title="Személyes menü">
                    <i class="bi bi-person-circle" style="font-size: 1.2rem;"></i>
                    <span *ngIf="user" id="userName">{{user.name}}</span>
                  </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <!--Ezt majd úgy kell megcsinálni, hogy csak "szimpla" felhasználónak jelenjen meg-->
                  <li><a routerLink="/events-subscribed" class="dropdown-item" href="#" title="Feliratkozásaim">Feliratkozásaim</a></li> <!--vissza kell adnia a bejelentkezett fejhasználó feliratkozott eseményeinek számát-->
                  <li><a class="dropdown-item" href="#" title="Beállításaim">Beállításaim</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a routerLink="/home" (click)="this.auth.logoutUserFromLaravel()" class="dropdown-item" href="#" title="Kijelentkezés">Kijelentkezés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
