errormessage: {{updateTagErrorMessage|json}}
<div class="container">
  <h1 class="">Tegek</h1>
  <div id="titleNewEvent">ÚJ teg felvétele</div>
  <!-- Új rekord felvétele -->
  <div class="" id="newDataInputsContainer">
    <div class="" id="newDataInputs">
      <div *ngFor="let newtag of tagNameColumn; let y =index" class="col-common" id="newEvents">
        <label class="form-label form-label-sm"><!--{{newTag|json}}--></label>
        <input [(ngModel)]="newTag[newtag]" type="text" class="form-control form-control-sm input-common"
          [id]="'input-' + y" placeholder="">
      </div>
    </div>
    <div class="button" id="saveButton">
      <div class="button-group">
        <button (click)="newData()" type="button" class="btn btn-primary btn-sm">Mentés</button>
      </div>
      <div *ngIf="newTagErrorBool == false && newTagErrorMessage != ''" class="errormsg">
        {{newTagErrorMessage}}
      </div>
      <div *ngIf="newTagErrorBool == true" class="errormsg">
        Sikeres tegfelvétel
      </div>
    </div>
  </div>
  <br>

  <div class="table-container">
    <div class="scrollable-content">
      <!-- Fejléc Kiíratás -->
      <div class="row header-row">
        <div *ngFor="let oszlop of oszlopok" class="col" id="fejlec">
          {{oszlop}}
        </div>
        <div class="col-actions" id="ures"></div>
      </div>

      <!-- Táblázat megjelenítése -->

      <div *ngFor="let tag of tags; let i = index" class="row align-items-center">
        <div *ngFor="let oszlop of oszlopok" class="col word-wrap" id="eventsDataCol">
          <textarea [(ngModel)]="tag[oszlop]" type="text" class="form-control form-control-sm"
            id="eventsData"></textarea>
        </div>
        <div class="col-actions sticky-actions">
          <div class="button-group" id="updateDelete">
            <button class="btn btn-primary btn-sm" (click)="updateData(tag)">Módosít</button>
            <div *ngIf="updateTagErrorBool == true && updateTagErrorMessage !=''" class="errormsg">
              {{updateTagErrorMessage}}
            </div>
            <button class="btn btn-secondary btn-sm ms-2" (click)="deleteData(tag)">Törlés</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
