<!-- errormessage: {{updateTagErrorMessage|json}} -->

<div *ngIf='localStorage.getItem("admin") != "0"' class="container p-lg-0">
  <h4>Címkék kezelése</h4>
  <div class="new-datas">
    <h5>Új címke felvétele</h5>
    <form (ngSubmit)="newData()">
      <div class="row new-datas-inner">
        <div class="col-6 col-md-3">
          <div class="mb-3">
            <label class="form-label">Címke neve</label>
            <input type="text" class="form-control" [(ngModel)]="newTagItem.name" name="name" id=""
              placeholder="Pl.: Sport">
            <div *ngFor="let errormessage of erName" class="validation">
              <div *ngIf="erName != null && newTagSuccess == false," class="text-danger" role="alert" >
                {{errormessage}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="mb-3">
            <label class="form-label">Címke csoportja</label>
            <div class="input-group">
              <select class="form-select" id="" [(ngModel)]="newTagItem.group" name="group">
                <!-- <option selected>Válassz...</option> -->
                <option value="típus">Típus</option>
                <option value="jelleg">Jelleg</option>
                <option value="időtartam">Időtartam</option>
                <option value="részvétel módja">Részvétel módja</option>
                <option value="belépés">Belépés</option>
              </select>
            </div>
            <div *ngFor="let errormessage of erGroup" class="validation">
              <div *ngIf="erGroup != null && newTagSuccess == false," class="text-danger" role="alert" >
                {{errormessage}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
          <button type="submit" class="btn btn-primary" id="saveButton">Mentés</button>
        </div>
      </div>
    </form>
  </div>
  <div class="table-block">
    <div class="table-inner scrollable-content table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Műveletek</th>
            <th scope="col">Azonosító</th>
            <th scope="col">Címke neve</th>
            <th scope="col">Címke csoportja</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tag of tags">
            <td>
              <div class="button-container">
                <i *ngIf="editModeId !== tag.id" (click)="editRow(tag)" class="bi bi-pencil-fill" style="font-size: 1.2rem;"></i>
                <button *ngIf="editModeId === tag.id" class="btn btn-secondary" (click)="updateData(tag)">Módosítás</button>
                <button *ngIf="editModeId === tag.id" class="btn btn-outline-secondary" (click)="cancelEdit()">Mégsem</button>
                <button *ngIf="editModeId !== tag.id" class="btn btn-outline-secondary" (click)="deleteData(tag)">Törlés</button>
              </div>
            </td>
            <td>{{tag.id}}</td>
            <td>
              <span *ngIf="editModeId !== tag.id">{{tag.name}}</span>
              <input *ngIf="editModeId === tag.id" [(ngModel)]="tag.name" class="form-control">
              <div *ngIf="editModeId === tag.id">
                <div *ngFor="let errormessage of erModName" class="validation">
                  <div *ngIf="erModName != null && tagModSuccess == false," class="text-danger" role="alert" >
                    {{errormessage}}
                  </div>
                </div>
              </div>
            </td>
            <td>
              <span *ngIf="editModeId !== tag.id">{{tag.group}}</span>
              <div *ngIf="editModeId === tag.id" class="input-group" id="tagDropdown">
                <select class="form-select" id="" [(ngModel)]="tag.group">
                  <option value="típus">Típus</option>
                  <option value="jelleg">Jelleg</option>
                  <option value="időtartam">Időtartam</option>
                  <option value="részvétel módja">Részvétel módja</option>
                  <option value="belépés">Belépés</option>
                </select>
              </div>
              <div *ngIf="editModeId === tag.id">
                <div *ngFor="let errormessage of erModGroup" class="validation">
                  <div *ngIf="erModGroup != null && tagModSuccess == false," class="text-danger" role="alert" >
                    {{errormessage}}
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>