<div class="card">

  <p class="information-block" *ngIf="setVisible()">Az oldal megtekintéséhez, kérlek jelentkezz be</p>

  <div class="card-body">
    <h5 class="card-title">Bejelentkezés</h5>

    <div class="form-floating mb-3">
      <input type="email" [(ngModel)]="name" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Név</label>
    </div>
    <!-- hibaüzenet kiíratása -->
    <div *ngIf="errorNameMessage != null && loginError == true ," class="alert alert-danger" role="alert">
      <p *ngFor="let errorMessage of errorNameMessage"> {{errorMessage}}</p>
    </div>


    <div class="input-group mb-3">
      <input [type]="visiblePassword()" [(ngModel)]="password" class="form-control" placeholder="Jelszó"
        aria-label="Recipient's username" aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2"><i (click)="szem=!szem" class="bi bi-eye"></i></span>
    </div>
    <!-- hibaüzenet kiíratása -->
    <div *ngIf="errorPasswordMessage != null && loginError == true ," class="alert alert-danger" role="alert">
      <p *ngFor="let errorMessage of errorPasswordMessage"> {{errorMessage}}</p>
    </div>

    <div class="input-group mb-3">
      <button type="button" (click)="loginUserOnLaravel()" class="btn btn-primary">Bejelentkezés</button>
      <a class="ms-4 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        routerLink="/forgotpassword">Elfelejtett jelszó</a>
    </div>


    <div *ngIf="mailRegError" class="alert alert-danger" role="alert">
      {{mailRegText}}
    </div>




  </div>
</div>
<div *ngIf="loginError == false && errorNameMessage =='' && errorPasswordMessage ==''">
  <h1>Sikeres Bejelentkezés</h1>
</div>
<div *ngIf="unknownErrorMessageBool" class="alert alert-danger" role="alert">
  {{unknownErrorMessage}}
</div>