
<div class="gallery-content-slider">
    <div class="row justify-content-center">
        <a href="https://unsplash.it/1200/768.jpg?image=261" data-toggle="lightbox" data-gallery="hidden-images" class="col-4">
            <img src="https://unsplash.it/600.jpg?image=261" class="img-fluid">
        </a>
        <a href="https://unsplash.it/1200/768.jpg?image=260" data-toggle="lightbox" data-gallery="hidden-images" class="col-4">
            <img src="https://unsplash.it/600.jpg?image=260" class="img-fluid">
        </a>
        <a href="https://unsplash.it/1200/768.jpg?image=263" data-toggle="lightbox" data-gallery="hidden-images" class="col-4">
            <img src="https://unsplash.it/600.jpg?image=263" class="img-fluid">
        </a>
        <!-- elements not showing, use data-remote or data-src-->
        <div data-toggle="lightbox" data-gallery="hidden-images" data-src="https://unsplash.it/1200/768.jpg?image=264" data-title="Hidden item 1"></div>
        <div data-toggle="lightbox" data-gallery="hidden-images" data-src="https://www.youtube.com/embed/dQw4w9WgXcQ" data-title="Hidden item 2"></div>
        <div data-toggle="lightbox" data-gallery="hidden-images" data-src="https://unsplash.it/1200/768.jpg?image=265" data-title="Hidden item 3"></div>
        <div data-toggle="lightbox" data-gallery="hidden-images" data-src="https://unsplash.it/1200/768.jpg?image=266" data-title="Hidden item 4"></div>
        <div data-toggle="lightbox" data-gallery="hidden-images" data-src="https://unsplash.it/1200/768.jpg?image=267" data-title="Hidden item 5"></div>
    </div>
</div>


<!--Ez kell a galéria működéséhez. Még NYERS!!!-->
<!-- <div class="modal lightbox fade show" id="lightboxModal-bwtbclmq" tabindex="-1" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content border-0 bg-transparent">
            <div class="modal-body p-0">
                <button type="button" class="btn-close position-absolute top-0 end-0 p-3" data-bs-dismiss="modal" aria-label="Close" style="z-index: 2; background: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; top: -5px;" viewBox="0 0 16 16" fill="#fff">
                        <path d="M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z"></path>
                    </svg>
                </button>
                <div id="lightboxCarousel-bwtbclmq" class="lightbox-carousel carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-inner">
            
                        <div class="carousel-item active" style="min-height: 100px">
                            <div class="position-absolute top-50 start-50 translate-middle text-white">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                            <div class="ratio ratio-16x9" style="background-color: #000;">
                                <img src="https://unsplash.it/1200/768.jpg?image=261" class="d-block mw-100 mh-100 h-auto w-auto m-auto top-0 end-0 bottom-0 start-0 img-fluid" style="z-index: 1; object-fit: contain;">
                            </div>
            
                        </div>
                        <div class="carousel-item " style="min-height: 100px">
                            <div class="position-absolute top-50 start-50 translate-middle text-white">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                            <div class="ratio ratio-16x9" style="background-color: #000;">
                                <img src="https://unsplash.it/1200/768.jpg?image=260" class="d-block mw-100 mh-100 h-auto w-auto m-auto top-0 end-0 bottom-0 start-0 img-fluid" style="z-index: 1; object-fit: contain;">
                            </div>
                            
                        </div>
                        <div class="carousel-item " style="min-height: 100px">
                            <div class="position-absolute top-50 start-50 translate-middle text-white">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                            <div class="ratio ratio-16x9" style="background-color: #000;">
                                <img src="https://unsplash.it/1200/768.jpg?image=263" class="d-block mw-100 mh-100 h-auto w-auto m-auto top-0 end-0 bottom-0 start-0 img-fluid" style="z-index: 1; object-fit: contain;">
                            </div>
                            
                        </div>
                        <div class="carousel-item " style="min-height: 100px">
                            <div class="position-absolute top-50 start-50 translate-middle text-white">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                            <div class="ratio ratio-16x9" style="background-color: #000;">
                                <img src="https://unsplash.it/1200/768.jpg?image=264" class="d-block mw-100 mh-100 h-auto w-auto m-auto top-0 end-0 bottom-0 start-0 img-fluid" style="z-index: 1; object-fit: contain;">
                            </div>
                            
                        </div>
                        <div class="carousel-item " style="min-height: 100px">
                            <div class="position-absolute top-50 start-50 translate-middle text-white">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                            <div class="ratio ratio-16x9" style="background-color: #000;">
                                <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer autoplay clipboard-write encrypted-media gyroscope picture-in-picture" allowfullscreen=""></iframe>
                            </div>
                            
                        </div>
                        <div class="carousel-item " style="min-height: 100px">
                            <div class="position-absolute top-50 start-50 translate-middle text-white">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                            <div class="ratio ratio-16x9" style="background-color: #000;">
                                <img src="https://unsplash.it/1200/768.jpg?image=265" class="d-block mw-100 mh-100 h-auto w-auto m-auto top-0 end-0 bottom-0 start-0 img-fluid" style="z-index: 1; object-fit: contain;">
                            </div>
                            
                        </div>
                        <div class="carousel-item " style="min-height: 100px">
                            <div class="position-absolute top-50 start-50 translate-middle text-white">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                            <div class="ratio ratio-16x9" style="background-color: #000;">
                                <img src="https://unsplash.it/1200/768.jpg?image=266" class="d-block mw-100 mh-100 h-auto w-auto m-auto top-0 end-0 bottom-0 start-0 img-fluid" style="z-index: 1; object-fit: contain;">
                            </div>
                            
                        </div>
                        <div class="carousel-item " style="min-height: 100px">
                            <div class="position-absolute top-50 start-50 translate-middle text-white">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                            <div class="ratio ratio-16x9" style="background-color: #000;">
                                <img src="https://unsplash.it/1200/768.jpg?image=267" class="d-block mw-100 mh-100 h-auto w-auto m-auto top-0 end-0 bottom-0 start-0 img-fluid" style="z-index: 1; object-fit: contain;">
                            </div>
                            
                        </div>
                    </div>
        
                    <button id="#lightboxCarousel-bwtbclmq-prev" class="carousel-control carousel-control-prev h-75 m-auto" type="button" data-bs-target="#lightboxCarousel-bwtbclmq" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button id="#lightboxCarousel-bwtbclmq-next" class="carousel-control carousel-control-next h-75 m-auto" type="button" data-bs-target="#lightboxCarousel-bwtbclmq" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--Ez kell a galéria működéséhez. VÉGE-->