
<!-- <div class="gallery-content-slider">
    <div class="row justify-content-center">
        <a href="#" data-toggle="lightbox" data-gallery="hidden-images" class="col-4">
            <img src="assets/Pictures/kirandulas_01.jpg" class="img-fluid">
        </a>
        <a href="#" data-toggle="lightbox" data-gallery="hidden-images" class="col-4">
            <img src="assets/Pictures/CatPictures/cat1.jpg" class="img-fluid">
        </a>
        <a href="#" data-toggle="lightbox" data-gallery="hidden-images" class="col-4">
            <img src="assets/Pictures/CatPictures/cat2.webp" class="img-fluid">
        </a> -->
        <!-- elements not showing, use data-remote or data-src-->
        <!-- <div data-toggle="lightbox" data-gallery="hidden-images" data-src="assets/Pictures/CatPictures/cat3.jpg" data-title="Hidden item 1"></div>
        <div data-toggle="lightbox" data-gallery="hidden-images" data-src="assets/Pictures/CatPictures/bogyika.jpg" data-title="Hidden item 2"></div>
        <div data-toggle="lightbox" data-gallery="hidden-images" data-src="https://unsplash.it/1200/768.jpg?image=265" data-title="Hidden item 3"></div>
        <div data-toggle="lightbox" data-gallery="hidden-images" data-src="https://unsplash.it/1200/768.jpg?image=266" data-title="Hidden item 4"></div>
        <div data-toggle="lightbox" data-gallery="hidden-images" data-src="https://unsplash.it/1200/768.jpg?image=267" data-title="Hidden item 5"></div>
    </div>
</div> -->


<!--Ez kell a galéria működéséhez. Még NYERS!!!-->
<!-- <div class="modal lightbox fade" id="lightboxModal" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content border-0 bg-transparent">
            <div class="modal-body p-0">
                <button type="button" class="btn-close position-absolute top-0 end-0 p-3" data-bs-dismiss="modal" aria-label="Close" style="z-index: 2; background: none;">
                    <i class="bi bi-x-lg" style="position: relative; top: -5px;" viewBox="0 0 16 16" fill="#fff">
                    </i>
                </button>
                <div id="lightboxCarousel-bwtbclmq" class="lightbox-carousel carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-inner">
            
                        <div class="carousel-item active" style="min-height: 100px">
                            <div class="position-absolute top-50 start-50 translate-middle text-white">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                            <div class="ratio ratio-16x9" style="background-color: #000;">
                                <img src="assets/Pictures/kirandulas_01.jpg" class="d-block mw-100 mh-100 h-auto w-auto m-auto top-0 end-0 bottom-0 start-0 img-fluid" style="z-index: 1; object-fit: contain;">
                            </div>
            
                        </div>
                        <div class="carousel-item " style="min-height: 100px">
                            <div class="position-absolute top-50 start-50 translate-middle text-white">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                            <div class="ratio ratio-16x9" style="background-color: #000;">
                                <img src="assets/Pictures/CatPictures/cat1.jpg" class="d-block mw-100 mh-100 h-auto w-auto m-auto top-0 end-0 bottom-0 start-0 img-fluid" style="z-index: 1; object-fit: contain;">
                            </div>
                            
                        </div>
                        <div class="carousel-item " style="min-height: 100px">
                            <div class="position-absolute top-50 start-50 translate-middle text-white">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                            <div class="ratio ratio-16x9" style="background-color: #000;">
                                <img src="assets/Pictures/CatPictures/cat2.webp" class="d-block mw-100 mh-100 h-auto w-auto m-auto top-0 end-0 bottom-0 start-0 img-fluid" style="z-index: 1; object-fit: contain;">
                            </div>
                            
                        </div>
                        <div class="carousel-item " style="min-height: 100px">
                            <div class="position-absolute top-50 start-50 translate-middle text-white">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                            <div class="ratio ratio-16x9" style="background-color: #000;">
                                <img src="assets/Pictures/CatPictures/cat3.jpg" class="d-block mw-100 mh-100 h-auto w-auto m-auto top-0 end-0 bottom-0 start-0 img-fluid" style="z-index: 1; object-fit: contain;">
                            </div>
                            
                        </div>
                        <div class="carousel-item " style="min-height: 100px">
                            <div class="position-absolute top-50 start-50 translate-middle text-white">
                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                            </div>
                            <div class="ratio ratio-16x9" style="background-color: #000;">
                                <iframe src="assets/Pictures/CatPictures/bogyika.jpg" title="YouTube video player" frameborder="0" allow="accelerometer autoplay clipboard-write encrypted-media gyroscope picture-in-picture" allowfullscreen=""></iframe>
                            </div>
                            
                        </div>
                    </div>
        
                    <button id="#lightboxCarousel-bwtbclmq-prev" class="carousel-control carousel-control-prev h-75 m-auto" type="button" data-bs-target="#lightboxCarousel-bwtbclmq" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button id="#lightboxCarousel-bwtbclmq-next" class="carousel-control carousel-control-next h-75 m-auto" type="button" data-bs-target="#lightboxCarousel-bwtbclmq" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--Ez kell a galéria működéséhez. VÉGE-->