<!--Beltartalom alap befoglaló-->
<div class="container p-lg-0">
  <!-- <div class="yahoobar">
    <div>
      <a routerLink="/home" class="nav-link active" aria-current="page" href="#" title="Kezdőoldal">
        <i class="bi bi-house"></i>Kezdőoldal
      </a>
    </div>
  </div> -->
  <!--Beltartalom befoglaló-->
  <div class="row g10">
    <div>
      <h1>Programok</h1>
    </div>
    <!--kártyák feletti sáv-->
    <div class="pg-top">
      <div class="pg-2 order-1"></div>
      <div class="pg-8 order-2">
        <div class="pager-top">
          <div class="pager" id="pager-lapozo-top">


            <div
              *ngIf="(isSearch == false && searchControl.value ==null && tagSearch == false)||(isSearch == false && searchControl.value =='' && tagSearch == false)|| (searchControl.value == '' && isSearch == true && tagSearch == false) ||(isSearch == true && searchControl.value ==null && tagSearch == false) || (isSearch == true && !commonSearchResults && tagSearch == false) || (isSearch == false && !commonSearchResults && tagSearch == false) ||(isSearch == false && tagSearch == false && commonSearchResults.length == 0) "
              class="count -hidden" id="pagerCount">{{events.length}} találat</div>
            <!-- Szabad szavas keresésnél a találatok száma -->
            <div *ngIf="isSearch == true || tagSearch == true" class="count -hidden" id="pagerCount">
              {{commonSearchResults.length}} találat</div>


            <!--itt vissza kell adnia, hogy hány db aktív státuszú eseményt talált az adatbázisban (vagyis hány darabot lehet megnézni az oldalon)-->
          </div>
          <div class="separator -hidden">|</div>
          <div class="pl-sorter">
            <span>Rendezés:</span>
            <div class="select-wrapper">


              <select [(ngModel)]="selectedOption" (change)="toSort()" class="form-select">
                <option value="ascByABC" selected>ABC szerint növekvő</option>
                <option value="descByABC">ABC szerint csökkenő</option>
                <option value="ascByDate">Dátum szerint növekvő</option>
                <option value="descByDate">Dátum szerint csökkenő</option>
                <!-- <option value="">Népszerűség</option> -->
                <!--ha marad időnk, lehetne egy népszerűség szerint növekvő is: a legtöbb felhasználó által feliratkozott; aktív státuszú események;-->

              </select>

            </div>

          </div>
          <div class="filterpanel-mobile">
            <div class="filterpanel-wrapper -mobile">
              <div>
                <div class="filterpanel-toggler">
                  <button class="btn btn-primary" type="button" id="filterButton" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <span><i data-icon="" class="icon mr-2"></i>Szűrések</span>
                  </button>
                </div>
                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                  aria-labelledby="offcanvasWithBothOptionsLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Szűrések</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"
                      id="offcanvasCloseButton"></button>
                  </div>
                  <div class="offcanvas-body">
                    <!-- <p>Try scrolling the rest of the page to see this option in action.</p> -->
                    <div class="filterpanel">
                      <div class="sections">
                        <div class="section">
                          <div class="section-inner">
                            <div class="section-content filter-item">
                              <h5 class="section-header">Címkék</h5>
                              <div *ngFor="let tag of tagsOfEvents" class="form-check">
                                <input [value]="tag" (change)="onTagSelect(tag, $event)"
                                  (keydown.enter)="searchOnPress()" class="form-check-input" type="checkbox"
                                  id="{{ tag.id }}">
                                <label class="form-check-label" id="{{ tag.id }}">{{tag.name}}</label>
                              </div>
                              <div class="d-flex gap-2">
                                <button class="btn btn-secondary" (click)="searchOnPress()">Szűrés</button>
                                <button class="btn btn-secondary" (click)="clearTagSelections()">Kijelölések
                                  törlése</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="section">
                          <div class="section-inner">
                            <div></div>
                            <div class="section-content">
                              <div class="filter-item -search">
                                <div class="input-group rounded">
                                  <!-- <input type="search" class="form-control rounded" placeholder="Keresés" aria-label="Search" aria-describedby="search-addon" /> -->
                                  <input type="search" (keydown.enter)="searchOnPress()" [formControl]="searchControl"
                                    class="form-control rounded" placeholder="Keresés" aria-label="Search"
                                    aria-describedby="search-addon" />
                                  <span class="input-group-text border-0" id="search-addon">
                                    <button class="form-control rounded btn btn-outline-secondary"><i
                                        (click)="searchOnPress()" class="bi bi-search"></i></button>

                                  </span>
                                  <!-- <p>A keresés megerősítéséhez nyomjon rá a nagyító ikonra</p> -->
                                </div>
                                <!-- <ul>
                                  <li *ngFor="let result of searchResults">{{ result|json }}</li>
                                </ul> -->
                                <ul>
                                  <!-- <li *ngFor="let result of searchResults">{{result|json}} -->
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--Dátumválasztó-->
                        <!-- <div class="section">
                          <div class="section-inner">
                            <div class="section-content">
                              <h5 class="section-header date">Dátum</h5>
                              <div class="content">
                                <app-datepicker-range-popup></app-datepicker-range-popup>
                              </div>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--szűrőpanel sáv - bal oldal-->
    <div class="col-12 g10-xl-2 order-1">
      <div class="filterpanel-wrapper -desktop">
        <div class="filterpanel">
          <div class="sections">
            <div class="section">
              <div class="section-inner">
                <div class="section-content filter-item">
                  <h5 class="section-header">Címkék</h5>
                  <div *ngFor="let tag of tagsOfEvents" class="form-check">
                    <input [value]="tag" (keydown.enter)="searchOnPress()" (change)="onTagSelect(tag, $event)"
                      class="form-check-input" type="checkbox" id="{{ tag.id }}">
                    <label class="form-check-label" id="{{ tag.id }}">
                      {{tag.name}}
                    </label>
                  </div>
                  <div class="d-flex gap-2">
                    <button class="btn btn-secondary" (click)="searchOnPress()">Szűrés</button>
                    <button class="btn btn-secondary" (click)="clearTagSelections()">Kijelölések törlése</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="section">
              <div class="section-inner">
                <div class="section-content">
                  <div class="filter-item -search">
                    <div class="input-group rounded">
                      <input type="search" (keydown.enter)="searchOnPress()" [formControl]="searchControl"
                        class="form-control rounded" placeholder="Keresés" aria-label="Search"
                        aria-describedby="search-addon" />
                      <span class="input-group-text border-0" id="search-addon">
                        <button class="form-control rounded btn btn-outline-secondary"><i (click)="searchOnPress()"
                            class="bi bi-search"></i></button>
                      </span>
                      <!-- <p>A keresés megerősítéséhez nyomjon rá a nagyító ikonra</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Dátumválasztó-->
            <!-- <div class="section">
              <div class="section-inner">
                <div class="section-content">
                  <h5 class="section-header date">Dátum</h5>
                  <div class="content">
                    <app-datepicker-range-popup></app-datepicker-range-popup>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>


    <!--fő tartalom - jobb oldal-->
    <div class="col-12 g10-xl-8 order-2">
      <!--kártyák-->
      <!-- <div class="content-cards" *ngIf="(searchControl.value === '' ||searchControl.value ==null)&& isSearch == false"> -->
      <div class="content-cards" *ngIf="(tagSearch == false && isSearch == false  )">
        <div class="row g10 events -grid">
          <div *ngFor="let event of paginatedEvents" class="e-item -box col-6 col-md-4 col-lg-3">
            <div class="card">
              <a [routerLink]="['/detailed-event/', event.id]" class="card-img-link">
                <!--onclick-hez megy, hogy rákattintás esetén irányítsa át a megadott részletes oldalra-->
                <div class="inner">
                  <img *ngIf="event.image; else noImage" src={{event.image}} class="card-img-top" alt={{event.name}}>
                  <ng-template #noImage>
                    <img src="assets/Pictures/no-image.jpg" class="card-img-top" alt="No Image Available">
                  </ng-template>
                </div>
              </a>
              <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <!-- EL VANNAK REJTVE AZ ÉRTÉKELŐS IKONOK, NE TÖRÖLD!! -->
                <ul class="list-unstyled list-inline mb-0 visibility-hidden">
                  <li class="list-inline-item">
                    <i class="bi bi-star-fill text-warning"></i> <!--bi-star, bi-star-fill, bi-star-half-->
                  </li>
                  <li class="list-inline-item">
                    <i class="bi bi-star-fill text-warning"></i>
                    <!--a csillagokat aszerint kell "teltté" változtatni, ahogy arányaiban kijön az értékelések alapján. Lényegében az átlag adja-->
                  </li>
                  <li class="list-inline-item">
                    <i class="bi bi-star-fill text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="bi bi-star-fill text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="bi bi-star-half text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <p class="text-muted">4.5 (413)</p>
                    <!--itt kell visszaadni az átlagát az értékeléseknek az adott eseményre + hogy hány értékelés érkezett rá-->
                  </li>
                </ul>
                <div class="start-end-date">
                  <p class="card-text" style="display: inline-block">{{event.startDate && event.startDate
                    !=='0000-00-00' ? event.startDate:eventStartDateNull}}</p>
                  <span *ngIf="event.endDate && event.endDate !== '0000-00-00'" class="date-separator">-</span>
                  <p class="card-text" style="display: inline-block">{{event.endDate && event.endDate !== '0000-00-00' ?
                    event.endDate:eventEndDateNull}}</p>
                </div>
                <!-- <p class="card-text" style="display: inline-block; padding-left: 3.8rem;">{{event.startTime}}-{{event.endTime}}</p> be kell állítani, hogy csak akkor jelenjen meg, ha van adat-->
                <p class="card-text" style="text-align: left; display: inline-block;">{{event.locationName}}</p>
                <!-- <p class="card-text" style="text-align: left; display: inline-block;" ><small class="text-body-secondary">{{event.address}}</small></p> -->
                <div class="split">
                  <p class="card-text" style="display: inline-block;" id="description">{{event.description}}</p>
                  <div class="into-bucket-list">
                    <button *ngIf="!isEventSubscribed(event.id)" (click)="subscribeToEvent(event)"
                      class="btn btn-primary" type="button" title="Feliratkozás az eseményre" id="subscribeEvent">
                      <!--*ngIf="!isEventSubscribed(event.id)"-->
                      <i class="bi bi-plus-lg"></i>
                    </button>
                    <button *ngIf="isEventSubscribed(event.id)" (click)="unsubscribeFromEvent(event)"
                      class="btn btn-primary" type="button" [disabled]="hasUserExperience(event.id)"
                      title="Leiratkozás az eseményről" id="unsubscribeEvent">
                      <!--*ngIf="isEventSubscribed(event.id)"-->
                      <i class="bi bi-dash-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Kártyák felépítésének vége-->

      <!-- Keresés eredményeinek megjelenítése -->
      <div class="content-cards" *ngIf=" isSearch == true || tagSearch == true">
        <!--       <div class="content-cards" *ngIf="searchControl.value != '' && isSearch == true"> -->
        <div class="row g10 events -grid">
          <div *ngFor="let event of paginatedSearchedEvents" class="e-item -box col-6 col-md-4 col-lg-3">
            <div class="card">
              <a [routerLink]="['/detailed-event/', event.id]" class="img">
                <!--onclick-hez megy, hogy rákattintás esetén irányítsa át a megadott részletes oldalra-->
                <div class="inner">
                  <img *ngIf="event.image; else noImage" src={{event.image}} class="card-img-top" alt={{event.name}}>
                  <ng-template #noImage>
                    <img src="assets/Pictures/no-image.jpg" class="card-img-top" alt="No Image Available">
                  </ng-template>
                </div>
              </a>
              <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <!-- EL VANNAK REJTVE AZ ÉRTÉKELŐS IKONOK, NE TÖRÖLD!!-->
                <ul class="list-unstyled list-inline mb-0 visibility-hidden">
                  <li class="list-inline-item">
                    <i class="bi bi-star-fill text-warning"></i> <!--bi-star, bi-star-fill, bi-star-half-->
                  </li>
                  <li class="list-inline-item">
                    <i class="bi bi-star-fill text-warning"></i>
                    <!--a csillagokat aszerint kell "teltté" változtatni, ahogy arányaiban kijön az értékelések alapján. Lényegében az átlag adja-->
                  </li>
                  <li class="list-inline-item">
                    <i class="bi bi-star-fill text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="bi bi-star-fill text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="bi bi-star-half text-warning"></i>
                  </li>
                  <li class="list-inline-item">
                    <p class="text-muted">4.5 (413)</p>
                    <!--itt kell visszaadni az átlagát az értékeléseknek az adott eseményre + hogy hány értékelés érkezett rá-->
                  </li>
                </ul>
                <div class="start-end-date">
                  <p class="card-text" style="display: inline-block">{{event.startDate && event.startDate
                    !=='0000-00-00' ? event.startDate:eventStartDateNull}}</p>
                  <span *ngIf="event.endDate && event.endDate !== '0000-00-00'" class="date-separator">-</span>
                  <p class="card-text" style="display: inline-block">{{event.endDate && event.endDate !== '0000-00-00' ?
                    event.endDate:eventEndDateNull}}</p>
                  <!--be kell állítani, hogy csak akkor jelenjen meg, ha van adat. Ha nincs dátum adat, akkor valami általános dolgot írjon ki..Pl: Állandó..vagy ilyesmi -->
                </div>
                <!-- <p class="card-text" style="display: inline-block; padding-left: 3.8rem;">{{event.startTime}}-{{event.endTime}}</p> be kell állítani, hogy csak akkor jelenjen meg, ha van adat-->
                <p class="card-text" style="text-align: left; display: inline-block;">{{event.locationName}}</p>
                <!-- <p class="card-text" style="text-align: left; display: inline-block;" ><small class="text-body-secondary">{{event.address}}</small></p> -->
                <div class="split">
                  <p class="card-text" style="display: inline-block;" id="description">{{event.description}}</p>
                  <button *ngIf="!isEventSubscribed(event.id)" (click)="subscribeToEvent(event)" class="btn btn-primary"
                    type="button" title="Bakancslistára tesz" id="subscribeEvent">
                    <!--*ngIf="!isEventSubscribed(event.id)"-->
                    <i class="bi bi-plus-lg"></i>
                  </button>
                  <button *ngIf="isEventSubscribed(event.id)" (click)="unsubscribeFromEvent(event)"
                    class="btn btn-primary" type="button" title="Törlés a bakancslistáról" id="unsubscribeEvent">
                    <!--*ngIf="isEventSubscribed(event.id)"-->
                    <i class="bi bi-dash-lg"></i>
                  </button>
                </div>

              </div>
            </div>
            <!-- <button (click)="subscribeEvent(event)">Felíratkozás</button> -->
            <!-- <button (click)="unsubscribeEvent(event)">Leiratkozás</button> -->

          </div>
        </div>
      </div>






      <div
        *ngIf=" (isSearch ==true && commonSearchResults.length == 0 )|| ((isSearch == true && tagSearch ==true) && (commonSearchResults.length == 0))">
        <h4>Nincs találat</h4>
        <p>Sajnos a megadott feltételek, nem hoztak eredményt. Kérlek, a szabadszavas keresést és a címkékre szűrést ne
          használt egyszerre.</p>
      </div>

      <!--Navigációs sáv-->
      <div class="pager-pagination">
        <app-card-pagination [totalItems]="isSearch ? commonSearchResults.length : events.length"
          [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
          (onClick)="changePage($event)"></app-card-pagination>
      </div>
      <!--Navigációs sáv vége-->
    </div>
  </div>
</div>