/* .g10 {
  margin-left: -3rem;
  margin-right: -3rem;
} */

@media (min-width: 992px) {
  .p-lg-0 {
      padding: 0 !important;
  }
}

@media (min-width: 1000px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1232px;
  }
}

.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  width: 100%;
  padding-right: .75rem;
  padding-left: .75rem;
  margin-right: auto;
  margin-left: auto;
}

/* Fő tartalom (kártyák) */
@media only screen and (min-width: 1200px) {
  .g10-xl-8 {
    flex: 0 0 80%;
    max-width: 80%;
  }
}

/* Szűrőpanel */
@media only screen and (min-width: 1200px) {
  .g10-xl-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

/* Kártyák középre igazítása */
.content-cards .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.inner {
  display: block;
  height: 130px;
}

.card-img-top {
  height: 100%;
}

/* Kártyák */
.card {
  min-width: 200px; /* Minimum méret */
  max-width: 200px; /* Maximum méret */
  width: 100%;
  margin: auto; /* Középre igazítás */
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: hidden; 
  border-color: #f0f0f0;
  
}

.card-body {
  flex-grow: 1; /* Kitölti a rendelkezésre álló helyet */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 12px;
  line-height: 1.2rem;
}

.card-text {
  margin: 0 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(1.2em * 3); /* 3 sorig engedi a szöveget */
  word-break: break-word;
  font-size: 15px;
  justify-content: space-evenly;
}

.card-title {
  font-size: 17px;
}

#discription {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Kis kijelzőn egy oszlopba kerüljenek a kártyák és a szűrő */
@media (max-width: 768px) {
  .row-cols-md-4.g4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .g10-xl-2 {
    order: 2;
    flex: 100%;
    max-width: 100%;
  }

  .g10-xl-8 {
    order: 1;
    flex: 100%;
    max-width: 100%;
  }

}

.order-2 {
  order: 2;
}

.order-1 {
  order: 1;
}

.filterpanel .section-content {
  background: #fff;
  padding: .25rem 0 .75rem 0;
}

.filterpanel-wrapper .filter-item.-checkbox {
  display: flex;
  align-items: center;
  font-size: .813rem;
  font-weight: 600;
}

.filterpanel-wrapper .filter-item {
  position: relative;
  padding: .75rem 1rem;
}

.filterpanel-wrapper .filter-item>.label{
  display: flex;
  align-items: center;
  font-size: .813rem;
  font-weight: 600;
  color: #3c3c3b;
  padding-bottom: .5rem;
  width: 100%;
}


input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
}

input[type=checkbox]+label:before {
  background: #fff;
  border: 2px solid #101010;
  content: "";
  display: block;
  margin-right: .675rem;
  min-width: 16px;
  width: 16px;
  height: 16px;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

input[type=checkbox]:checked+label:before{
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.filterpanel-wrapper .filter-item.-checkbox label {
  margin-bottom: 0;
  line-height: 1rem;
}

input[type=checkbox]+label {
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/*navigációs sáv - oldalak*/
#pageNavigation {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  flex-grow: 1;
  justify-items: center;
}

.pagination {
  border: none;
}