<!-- Újdonságok -->

<!--Beltartalom alap befoglaló-->
<div class="container-lg">
	<!--Beltartalom befoglaló-->
	<div class="row g10">

    <!--szűrőpanel sáv - bal oldal-->
		<div class="col-12 g10-xl-2 order-1">
      <div class="filterpanel-wrapper">
        <div class="filterpanel">  
          <div class="sections">
            <div class="section">
              <div class="section-inner">
                  <h3 class="section-header"></h3>
                <div class="section-content">
                  <div class="filter-item -checkbox">
                    <input type="checkbox" id="tag-1">
                    <label for="tag-1" class="form-check-label">
                      sport
                    </label>
                  </div>
                  <div class="filter-item -checkbox">
                    <input type="checkbox" id="tag-2">
                    <label for="tag-2" class="form-check-label">
                      kultúra
                    </label>
                  </div>
                  <div class="filter-item -checkbox">
                    <input type="checkbox" id="tag-3">
                    <label for="tag-3" class="form-check-label">
                      tag-3 tartalom
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="section">
              <div class="section-inner">
                  <h3 class="section-header"></h3>
                <div class="section-content">
                  <div class="filter-item -search">
                    <div class="search-form">
                      <input type="text" placeholder="Keresés" class="field">
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
		</div>


    <!--fő tartalom - jobb oldal-->
		<div class="col-12 g10-xl-8 order-2">
      <div class="pager-top">
        <div class="pager" id="pager-lapozo-top"></div>
        <div class="pl-sorter">
          <span>Rendezés:</span>
          <div class="select-wrapper">
            <select class="-compact">
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>
			<!--Kártyák felépítése-->
			<div class="content-cards">
				<div class="row row-cols-1 row-cols-md-4 g-4">
					<div *ngFor="let event of events" class="col">
					<div  class="card">
						<div class="inner">
							<img src={{event.picture}} class="card-img-top" alt="...">
						</div>
						<div class="card-body">
						<h5 class="card-title">{{event.name}}</h5>
							<p class="card-text" style="display: inline-block"><small class="text-body-secondary">{{event.startDate}}-{{event.endDate}}</small></p>	<!--be kell állítani, hogy csak akkor jelenjen meg, ha van adat. Ha nincs dátum adat, akkor valami általános dolgot írjon ki..Pl: Állandó..vagy ilyesmi -->
							<!-- <p class="card-text" style="display: inline-block; padding-left: 3.8rem;">{{event.startTime}}-{{event.endTime}}</p> be kell állítani, hogy csak akkor jelenjen meg, ha van adat-->
							<p class="card-text" style="text-align: left; display: inline-block;"><small class="text-body-secondary">{{event.locationName}}</small></p>
							<!-- <p class="card-text" style="text-align: left; display: inline-block;" ><small class="text-body-secondary">{{event.address}}</small></p> -->
						<p class="card-text" style="display: inline-block;" id="description"><small class="text-body-secondary">{{event.description}}</small></p>
						</div>
					</div>
					</div>
				</div>
			</div>
			<!--Kártyák felépítésének vége-->

			<!--Navigációs sáv-->
			<!--Be kell majd még kötni az adatok megjelenítését, hogy egy oldalon max hány db esemény kártyája jelenjen meg-->
			<nav aria-label="Page navigation" id="pageNavigation">
				<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				</ul>
			</nav>
			<!--Navigációs sáv vége-->
		</div>

	</div>

</div>
