<div class="container p-lg-0">
    <h4>Esemény és címke összekapcsolás</h4>
    <!--új esemény-címke összekapcsolás-->
    <div class="eventTagAttach">
        <h5>Új esemény és címke kapcsolat felvétele</h5>
        <div class="search-block row">
            <h5 class="search-title">Keresés
                <i class="bi bi-info-circle" style="font-size: 1rem" data-bs-toggle="tooltip" data-bs-placement="top" title="Keress az esemény azonosítójára vagy az esemény nevére"></i>
            </h5>
            <div class="col-6 col-mb-4">
                <div class="mb-3">
                    <label class="form-label">Esemény azonosító</label>
                    <input type="text" class="form-control" (keydown.enter)="searchEvent()" [formControl]="searchIdControl" id="" placeholder="">
                </div>
            </div>
            <div class="col-6 col-mb-3">
                <div class="mb-3">
                    <label  class="form-label">Esemény neve</label>
                    <input type="text" class="form-control" (keydown.enter)="searchEvent()" [formControl]="searchNameControl" id="" placeholder="">
                </div>
            </div>
            <div class="col-6 col-mb-5">
                <button class="btn btn-primary" (click)="searchEvent()" id="searchButton">Keresés</button>
            </div>
        </div>
        <!--Találat-->
        <div *ngIf=" isEventSearch == true" class="attach-block hidden">
            <div class="separator col-12">
                <hr>
            </div>
            <div *ngIf="noEventSearchResults" class="noEventSearchResult">
                <h5>Nincs találat</h5>
                <p>Lehetséges okok:</p>
                <ul>
                    <li>Egyszerre adtad meg az Esemény azonosítóját és az Esemény nevét. Kérlek, csak az egyik adatot add meg.</li>
                    <li>A keresett tartalom nem létezik az adatbázisban</li>
                </ul>
            </div>
            <div *ngIf="!noEventSearchResults" class="isSearchResult">
                <h5>Címke hozzáadása</h5>
                <div *ngFor="let event of searchEventResults" class="searchResult row">
                    <div class="col-6 col-mb-4">
                        <div class="mb-3">
                            <label  class="form-label found-col-name">Esemény azonosító</label>
                            <input type="text" readonly class="form-control-plaintext" id="" value={{event.id}}>
                        </div>
                    </div>
                    <div class="col-6 col-mb-3">
                        <div class="mb-3">
                            <label class="form-label found-col-name">Esemény neve</label>
                            <input type="text" readonly class="form-control-plaintext" id="" value={{event.name}}>
                        </div>
                    </div>
                    <div class="col-6 col-mb-3">
                        <!-- <div class="col-common" id="newEventTag">
                            <label class="form-label form-label-sm found-col-name">Címke neve</label>
                            <div class="input-group mb-3">
                            <select #tagNameSelect class="form-select" id="tagNameSelect">
                                <option selected>Válassz...</option>
                                <option *ngFor="let tag of tags" value={{tag.name}}>{{tag.name}}</option>
                            </select>
                            </div>
                        </div> -->
                        <div class="col-common" id="newEventTag">
                            <label class="form-label form-label-sm found-col-name">Címke neve</label>
                            <div class="scrollable-block">
                                <div class="scrollable-content" id="scrollSearchResult" tabindex="0">
                                    <div *ngFor="let tag of tags"  class="form-check">
                                        <input 
                                            class="form-check-input" 
                                            type="checkbox" 
                                            value={{tag.name}} 
                                            (change)="updateSelectedTags($event, tag.id)" 
                                            id="tagNameSelect">
                                        <label class="form-check-label">
                                            {{tag.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="button-searchResult">
                                <button (click)="newAttach(event.id, selectedTags)" type="button" class="btn btn-primary">Mentés</button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-6 col-mb-5">
                        <button (click)="newAttach(event.id, tagNameSelect.value)" class="btn btn-primary" id="saveAttachButton">Mentés</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <!--összekapcsolások megjelenítése táblázatban-->
    <div class="table-block">
        <div class="searchAttachedDatas">
            <div class="radio-search">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="withTag" [(ngModel)]="showWithTag" [value]="true" checked>
                    <label class="form-check-label">Van címke</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="withoutTag" [(ngModel)]="showWithTag" [value]="false">
                    <label class="form-check-label">Nincs címke</label>
                </div>
            </div>
            <div *ngIf="showWithTag" class="filter-item -search">
                <div class="input-group rounded" id="tableSearch">
                    <input type="search" [(ngModel)]="searchTerm" class="form-control rounded" placeholder="Keresés" aria-label="Search" aria-describedby="search-addon" />
                </div>
            </div>
            <div *ngIf="!showWithTag" class="filter-item -search">
                <div class="input-group rounded" id="tableSearch">
                    <input type="search" [(ngModel)]="searchWithoutTagList" class="form-control rounded" placeholder="Keresés" aria-label="Search" aria-describedby="search-addon" />
                </div>
            </div>
        </div>
        <div class="table-inner scrollable-content table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Műveletek</th>
                    <th scope="col">Esemény azonosító</th>
                    <th scope="col">Esemény neve</th>
                    <th scope="col">Címke azonosító</th>
                    <th scope="col">Címke neve</th>
                    <th scope="col">Címke csoportja</th>
                </tr>
                </thead>
                <tbody *ngIf="showWithTag">
                <tr *ngFor="let attachedData of searchWithTagsTable()">
                    <td>
                        <div class="button-container">
                            <button (click)="deleteTagFromEvent(attachedData)" class="btn btn-outline-secondary">Törlés</button>
                        </div>
                    </td>
                    <td>{{attachedData.eventId}}</td>
                    <td>{{attachedData.eventName}}</td>
                    <td>{{attachedData.tagId}}</td>
                    <!--Kikommentelem, mert egyelőre nincs módosítás, de NE TÖRÖLD-->
                    <!-- <td>
                        <div class="col-common cell-dropdown">
                            <div class="input-group" id="tagDropdown">
                            <select class="form-select" [(ngModel)]="attachedData.tagName">
                                <option selected>{{attachedData.tagName}}</option>
                                <option *ngFor="let tag of tags" value={{tag.name}}>{{tag.name}}</option>
                            </select>
                            </div>
                        </div>
                    </td> -->
                    <td>{{attachedData.tagName}}</td>
                    <td class="tagGroup">{{attachedData.tagGroup}}</td>
                </tr>
                </tbody>
                <tbody *ngIf="!showWithTag">
                    <tr *ngFor="let event of searchWithoutTagsTable()">
                        <td>{{event.id}}</td>
                        <td>{{event.name}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>