<div class="container p-lg-0">
    <h4>Esemény és címke összekapcsolás</h4>
    <!--új esemény-címke összekapcsolás-->
    <div class="eventTagAttach">
        <div class="search-block row">
            <h5>Keresés</h5>
            <div class="col-6 col-mb-4">
                <div class="mb-3">
                    <label class="form-label">Esemény azonosító</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
            </div>
            <div class="col-6 col-mb-3">
                <div class="mb-3">
                    <label  class="form-label">Esemény neve</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
            </div>
            <div class="col-6 col-mb-5">
                <button class="btn btn-primary" id="searchButton">Keresés</button>
            </div>
        </div>
        <!--Találat-->
        <div class="attach-block hidden row">
            <div class="separator col-12">
                <hr>
            </div>
            <h5>Címke hozzáadása</h5>
            <div class="col-6 col-mb-4">
                <div class="mb-3">
                    <label  class="form-label found-col-name">Esemény azonosító</label>
                    <input type="text" readonly class="form-control-plaintext" id="exampleFormControlInput1" value="1342">
                </div>
            </div>
            <div class="col-6 col-mb-3">
                <div class="mb-3">
                    <label class="form-label found-col-name">Esemény neve</label>
                    <input type="text" readonly class="form-control-plaintext" id="exampleFormControlInput1" value="Spartacus-tanösvény">
                </div>
            </div>
            <div class="col-6 col-mb-4">
                <div class="col-common" id="newEventTag">
                    <label class="form-label form-label-sm found-col-name">Címke neve</label>
                    <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect02">  <!--[(ngModel)]=""-->
                        <!-- <option selected>Válassz...</option> -->
                        <option value="Típus">Típus</option>
                        <option value="Jelleg">Jelleg</option>
                        <option value="Időtartam">Időtartam</option>
                        <option value="Részvétel módja">Részvétel módja</option>
                        <option value="Belépés">Belépés</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="col-6 col-mb-5">
                <button class="btn btn-primary" id="saveAttachButton">Mentés</button>
            </div>
        </div>
    </div>

    <!--összekapcsolások megjelenítése táblázatban-->
    <div class="table-block">
        <div class="table-inner scrollable-content table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Esemény azonosító</th>
                    <th scope="col">Esemény neve</th>
                    <th scope="col">Címke azonosító</th>
                    <th scope="col">Címke neve</th>
                    <th scope="col">Címke csoportja</th>
                    <th scope="col">Műveletek</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Esemény ID</td>
                    <td>Spartacus tanösvény</td>
                    <td>Címke ID</td>
                    <td>
                        <div class="col-common cell-dropdown" id="">
                            <div class="input-group">
                            <select class="form-select" id="inputGroupSelect02">  <!--[(ngModel)]=""-->
                                <!-- <option selected>Válassz...</option> -->
                                <option value="Típus">Típus</option>
                                <option value="Jelleg">Jelleg</option>
                                <option value="Időtartam">Időtartam</option>
                                <option value="Részvétel módja">Részvétel módja</option>
                                <option value="Belépés">Belépés</option>
                            </select>
                            </div>
                        </div>
                    </td>
                    <td>Típus</td>
                    <td>
                        <button class="btn btn-secondary">Módosítás</button>
                        <button class="btn btn-outline-secondary">Törlés</button>
                    </td>
                </tr>
                <tr>
                    <td>Esemény ID</td>
                    <td>Spartacus tanösvény</td>
                    <td>Címke ID</td>
                    <td>
                        <div class="col-common" id="">
                            <div class="input-group">
                            <select class="form-select" id="inputGroupSelect02">  <!--[(ngModel)]=""-->
                                <!-- <option selected>Válassz...</option> -->
                                <option value="Típus">Típus</option>
                                <option value="Jelleg">Jelleg</option>
                                <option value="Időtartam">Időtartam</option>
                                <option value="Részvétel módja">Részvétel módja</option>
                                <option value="Belépés">Belépés</option>
                            </select>
                            </div>
                        </div>
                    </td>
                    <td>Jelleg</td>
                    <td>
                        <button class="btn btn-secondary">Módosítás</button>
                        <button class="btn btn-outline-secondary">Törlés</button>
                    </td>
                </tr>
                <tr>
                    <td>Esemény ID</td>
                    <td>Moziest maraton</td>
                    <td>Címke ID</td>
                    <td>
                        <div class="col-common" id="">
                            <div class="input-group">
                            <select class="form-select" id="inputGroupSelect02">  <!--[(ngModel)]=""-->
                                <!-- <option selected>Válassz...</option> -->
                                <option value="Típus">Típus</option>
                                <option value="Jelleg">Jelleg</option>
                                <option value="Időtartam">Időtartam</option>
                                <option value="Részvétel módja">Részvétel módja</option>
                                <option value="Belépés">Belépés</option>
                            </select>
                            </div>
                        </div>
                    </td>
                    <td>Típus</td>
                    <td>
                        <button class="btn btn-secondary">Módosítás</button>
                        <button class="btn btn-outline-secondary">Törlés</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>