@media (min-width: 0px) {
    .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
}
  
@media (min-width: 992px) {
    .col-mb-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-mb-3 {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .col-mb-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .p-lg-0 {
        padding: 0 !important;
    }
}


/*Általános*/
.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

.row {
    max-width: 100%;
    padding-right: -.75rem;
    padding-left: -.75rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

h4 {
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: .5rem;
}

#saveAttachButton, #searchButton {
    margin-top: .75rem;
}

/*Kereső blokk*/
.search-title {
    margin-bottom: .2rem;
}

.eventTagAttach {
    background: #fff;
    border-radius: .375rem;
    padding: 1.75rem;
    margin-bottom: 2rem;
}

.search-block {
    margin-bottom: .5rem;
}


/*Találat blokk*/
hr {
    color: #aaaaaa;
    text-align: center;
    margin-bottom: 2rem;
}

.form-control-plaintext {
    padding: 0;
}

.found-col-name {
    font-weight: 600;
}

.scrollable-block {
    position: relative;
    height: 90px;
    border: solid 1px #dee2e6;
    border-radius: .375rem;
    overflow: hidden;
}

#scrollSearchResult {
    position: relative;
    height: 90px;
    overflow-y: scroll;
    padding-left: .75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.searchResult {
    align-items: baseline;
    justify-content: center;
}

.button-searchResult {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

/*Táblázat*/
th {
    position: sticky;
    top: 0;
    z-index: 0;
}

td {
    vertical-align: middle;
}

td:first-child, th:first-child {
    padding-left: 1.5rem;
}

.table-block {
    padding: 1.75rem;
    background: #fff;
    border-radius: .375rem;
    min-height: 500px;
}

.table-responsive {
    overflow-x: auto;
}

.scrollable-content {
    position: relative;
    max-height: 600px;
    overflow-y: auto; /* 'scroll' helyett 'auto' */
}

.scrollable-content::-webkit-scrollbar {
    width: 8px;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.scrollable-content::-webkit-scrollbar-track {
    background: transparent;
}

#tagDropdown, .form-select {
    position: static;
}

.searchAttachedDatas, .radio-search {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;

}

.searchAttachedDatas {
    margin-bottom: 1rem;
    justify-content: flex-end;
}

.tagGroup {
    text-transform: capitalize;
}