/*Általános reszponzivitás*/
@media (min-width: 0px) {
  .container-sm, .container {
      max-width: 450px;
  }
}

@media (min-width: 576px) {
  .container-sm, .container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
  }
}

@media only screen and (min-width: 1260px) {
  :root {
      --container: $container-xl;
  }
}

@media (min-width: 1260px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1232px;
  }
}

@media (min-width: 992px) {
  .p-lg-0 {
      padding: 0 !important;
  }
}

/*Kártyák reszponzivitás*/
@media (min-width: 0px), (max-width: 576px) {
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  /*.card {
    max-width: 240px;   /*ha ez nincs kikommentelve, akkor mobil képernyőn 1 db kártya lesz; NE töröld
  }*/
}

@media (min-width: 768px) {
  .col-md-4 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
  }
}

@media only screen and (min-width: 1260px) {
  .g10-xl-2 {
      flex: 0 0 25%;
      max-width: 25%;
  }
}

/*Yahoobar*/
@media only screen and (min-width: 768px) {
    div.yahoobar>div>* {
        margin: 0 .25rem;
    }
}

/*Információk blokk*/
@media only screen and (min-width: 0px), (max-width: 576px) {
  .parameter-tag-list .tag-items .tag-group {
    flex: 0 0 50%;
    width: 50%;
  }

  .parameter-data-list .other-data-item .other-data-key {
    flex: 0 0 50%;
    width: 50%;
  }
}

@media only screen and (min-width: 768px), (max-width: 1260px) {
  .parameter-tag-list .tag-items .tag-group {
    flex: 0 0 33.33%;
    width: 33.33%;
  }

  .parameter-data-list .other-data-item .other-data-key {
    flex: 0 0 33.33%;
    width: 33.33%;
  }
}

/* @media only screen and (min-width: 992px), (max-width: 1260px) {
  .tag-group {
      width: 33.33%;
  }
} */





/*Általános*/
.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  width: 100%;
  padding-right: .75rem;
  padding-left: .75rem;
  margin-right: auto;
  margin-left: auto;
}

.g10 div[class*=" g10-"] {
  padding-left: .5rem;
  padding-right: .5rem;
}

.g10 {
  margin-left: -.5rem;
  margin-right: -.5rem;
}

#fullContent {
  background: #fff;
  border-radius: .375rem;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: .75rem;
  padding-left: .75rem;
}

p {
    margin: 0 0 .75rem;
}

h4 {
  text-align: start;
  margin-bottom: 1.5rem;
}

.nav {
  margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -.75rem;
    margin-left: -.75rem;
}

.information-unit-inner {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

/*Yahoobar*/
.yahoobar {
    margin: 1rem 0;
}
  
.bi.bi-house {
    padding-right: 0.5rem;
}
  
.yahoobar>div>* {
    color: #101010;
    font-size: .813rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /*height: 16px;*/
}

/*Bal oldali blokk*/
.part-left {
  padding: 1rem 1rem;
  flex: 0 0 70%;
  width: 70%;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  gap: .5rem;
  align-items: center;
}

.nav-link {
  padding: 0;
  vertical-align: middle;
  color: #919191;
}

.nav-link:hover {
  color: #202020;
}

.nav-link.active {
  position: relative;
  display: inline-block;
  color: #202020;
}

/*ez a nav link aláhúzása*/
.nav-link.active::after {
  content: "";
  display: block ;
  position: absolute;
  bottom: -2px; /* Finomhangolás */
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 1.5rem); /* Egy fix hosszúságú vonal */
  height: .135rem;
  background-color: #969696;
}

.nav-item {
  flex-grow: 1;
  text-transform: uppercase;
  align-items: center;
  /* font-weight: 400; */
}

.nav-item-separator {
  font-weight: 300;
  font-size: 2rem;
  align-items: center;
}

.event-description-inner, .event-details-inner, .event-reviews-inner {
  padding: 1rem;
}

.event-details-inner ul, .tags-item ul, .other-data-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .parameter-items, .event-other-datas, .other-datas {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
} */


.tag-items, .other-data-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 1rem 0;
}

.tag-group, .other-data-key {
  flex-shrink: 0;
}

ul .group-value, ul .other-data-value {
  font-weight: 700;
  margin-left: 1.5rem;
}

/*Bal oldali blokk vége*/

/*Jobb oldali blokk*/
.part-right {
  padding: 1rem 1rem;
  flex: 0 0 30%;
  width: 30%;
}

.dates, .times {
  display: flex;
  flex-wrap: nowrap;
}

.dates, .location-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.times, .event-address {
  margin-bottom: .5rem;
}

.time-datas {
  margin-bottom: 1rem;
}

.time-location {
  margin-bottom: 2rem;
}

.tags-unit {
  width: 100%;
  font-size: .875rem;
}

.tag-item-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: .5rem;
}

.tag-item {
  flex-grow: 1;   /*kitöltik a rendelkezésre álló helyet*/
  white-space: normal;
  min-width: 100px;
  background: #cccccc;
  border-radius: .175rem;
  text-align: center;
  padding: .275rem .75rem;
  /* margin-bottom: .375rem; */
}

.tag-state {
  background: #cccccc;
  margin-bottom: .375rem;
  border-radius: .175rem;
  text-align: center;
  padding: .375rem .75rem;
  width: 100%;
}


  /*Kártyák*/
.same-events {
    margin: 2.5rem 0;
}

.events.-grid {
    margin-left: -.5rem;
    margin-right: -.5rem;
}
  
.events {
    position: relative;
    align-items: flex-start;
}
  
.e-item.-box:not(.no-pitem-padding) {
    padding: .5rem;
}
  
.e-item.-box {
    flex-wrap: wrap;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    box-shadow: 0 0 0 0 white;
}
  
.e-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.split {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#bucketlistButton {
    text-transform: none;
    background: #fff;
    align-items: center;
    margin-left: .5rem;
    height: 45px;
    width: 45px;
    /* position: absolute;          ez lenne a szép elhelyezése a gomnak, de egyelőre nem jött össze..
    bottom: 1.2rem;
    right: 1.2rem; */
}

.bi-plus-lg {
    color: #0d6efd;
    display: inline-block;
    font-style: normal;
    font-weight: 900 !important;
    font-size: 1.3rem;
    padding: auto;
  
}

.inner {
    display: block;
    height: 160px;
    width: 100%;
    /* overflow: hidden; */
  }
  
  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .card {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* overflow: hidden;  */
    border-color: #f0f0f0;
  }
  
  .card-body {
    flex-grow: 1; /* Kitölti a rendelkezésre álló helyet */
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    line-height: 1.2rem;
  }
  
  .card-text {
    /* margin: 0 0 7px; */
    max-height: calc(1.2rem * 2); /* 3 sorig engedi a szöveget */
    word-break: break-word;
    font-size: .875rem;
    justify-content: space-between;
  }

  .date-separator {
    margin: 0 .275rem 0 .275rem;
  }
  
  .text-muted {
    /* margin: 0 0 10px; */
    font-size: 0.875em;
  }
  
  .bi .bi-star, .bi-star-fill, .bi-star-half {
    font-size: 0.875em;
  }
  
  .list-inline-item:not(:last-child) {
    margin-right: .2rem;
  }
  
  .card-title {
    font-size: 1.3rem;
  }
  
  #description {
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    overflow: hidden;
  }


  /*Vélemények*/
  .star-rating {
    font-size: 1.5rem;
    color: #ffc107;
    cursor: pointer;
  }
  
  .star-rating .bi-star-fill {
    color: #ffc107;
  }
  
  .rating-star:hover,
  .rating-star:hover ~ .rating-star {
    color: #ffc107;
  }
