
<div class="carousel-container">
  <!-- A képes slider megjelenítése -->
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/Pictures/CatPictures/bogyika.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/Pictures/CatPictures/cat2.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/Pictures/CatPictures/cat3.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!--Beltartalom alap befoglaló-->
<div class="container p-lg-0">
  <!-- Rólunk-->
  <div class="information">
    <div class="container p-lg-0">
      <div class="row information-inner">
        <h1 class="information-title">Rólunk</h1>
        <div class="information-content">
          <p>Lórum ipse mint olkoros és szegeség, mint henc balmus nagyon kedebes. A „a” samboszlás nem is feltétlenül a „száns ritonok” samboszlása.</p>
          <p>A „lyukó” samboszlások nuktikában elletes biker alapján érepegnek, felékeny pőcskéjük is gabarít. Az életek főleg a hibaj béremek lapkájából markívognak, ennek következtében tányos vadékok lehetnek a leteletések közves ősziségeiben és a jeges tartok dikójában. Ez vékozhat a kulásokra is, de inges életeket nem szágoz. A kedő kulások kérekvők az ügyész gyümös (rimezés) zsupéjában harc. Ilyen londos balizsnából félévente kulás kell vájajznia. Hítos imód csak „fenített” bolasság hajságában, valamint tatott fölem alapján pofáros.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- USP-k -->
  <div class="row highlighted">
    <div class="col-12">
      <div class="calling-words">
        <div class="word-item">
          <i class="bi bi-dice-5" style="font-size: 1.2rem;"></i>
          <p class="usp">Több száz program lehetőség</p>
        </div>
        <div class="word-item">
          <i class="bi bi-bell" style="font-size: 1.2rem;"></i>
          <p class="usp">Értesülj a legújabb eseményekről</p>
        </div>
        <div class="word-item">
          <i class="bi bi-emoji-smile" style="font-size: 1.2rem;"></i>
          <p class="usp">Értékeld élményeidet</p>
        </div>
        <div class="word-item">
          <i class="bi bi-list-ul" style="font-size: 1.2rem;"></i>
          <p class="usp">Készíts saját bakancslistát</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Újdonságok -->
  <div class="newest-events">
    <div>
      <h1>Újdonságok</h1>
    </div>
		<div class="row g10">
      <!--kártyák-->

				<div *ngFor="let event of newEvents" class="e-item -box col-6 col-md-4 col-lg-3 g10-xl-2">
					<div  class="card">
            <a href="itt kell megadni a program részletes oldalát" class="img" onlcick=";">   <!--onclick-hez megy, hogy rákattintás esetén irányítsa át a megadott részletes oldalra-->
              <div class="inner">
                <img *ngIf="event.image; else noImage" src={{event.image}} class="card-img-top" alt={{event.name}}>
                <ng-template #noImage>
                  <img src="assets/Pictures/no-image.jpg" class="card-img-top" alt="No Image Available">
                </ng-template>
              </div>
            </a>
						<div class="card-body">
              <h5 class="card-title">{{event.name}}</h5>
              <ul class="list-unstyled list-inline mb-0">
                <li class="list-inline-item">
                  <i class="bi bi-star-fill text-warning"></i>    <!--bi-star, bi-star-fill, bi-star-half-->
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-star-fill text-warning"></i>   <!--a csillagokat aszerint kell "teltté" változtatni, ahogy arányaiban kijön az értékelések alapján. Lényegében az átlag adja-->
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-star-fill text-warning"></i>
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-star-fill text-warning"></i>
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-star-half text-warning"></i>
                </li>
                <li class="list-inline-item">
                  <p class="text-muted">4.5 (413)</p>   <!--itt kell visszaadni az átlagát az értékeléseknek az adott eseményre + hogy hány értékelés érkezett rá-->
                </li>
              </ul>
              <p class="card-text" style="display: inline-block">{{event.startDate}}-{{event.endDate}}</p>	<!--be kell állítani, hogy csak akkor jelenjen meg, ha van adat. Ha nincs dátum adat, akkor valami általános dolgot írjon ki..Pl: Állandó..vagy ilyesmi -->
              <!-- <p class="card-text" style="display: inline-block; padding-left: 3.8rem;">{{event.startTime}}-{{event.endTime}}</p> be kell állítani, hogy csak akkor jelenjen meg, ha van adat-->
              <p class="card-text" style="text-align: left; display: inline-block;">{{event.locationName}}</p>
              <!-- <p class="card-text" style="text-align: left; display: inline-block;" ><small class="text-body-secondary">{{event.address}}</small></p> -->
              <div class="split">
                <p class="card-text" style="display: inline-block;" id="description">{{event.description}}</p>
                <div class="into-bucket-list">
                  <button class="btn btn-primary" type="button" title="Bakancslistára tesz">
                    <i class="bi bi-plus-lg"></i>
                  </button>
                </div>
              </div>
              <!-- <div class="clone-bar"> -->
                <!-- <span class="into-bucket-list">
                  <button class="btn btn-primary" type="button" title="Bakancslistára tesz">
                    <i class="bi bi-plus-lg"></i>
                  </button>
                </span> -->
              <!-- </div> -->
						</div>
					</div>
				</div>

			<!--Kártyák felépítésének vége-->

	<!-- Legnépszerűbb programok -->
	<div class="best-events">
    <div>
      <h1>Legnépszerűbb programok</h1>
    </div>
		<div class="row g10">
      <!--kártyák-->
				<div *ngFor="let event of bestEvents" class="e-item -box col-6 col-md-4 col-lg-3 g10-xl-2">
					<div  class="card">
            <a href="itt kell megadni a program részletes oldalát" class="img" onlcick=";">   <!--onclick-hez megy, hogy rákattintás esetén irányítsa át a megadott részletes oldalra-->
              <div class="inner">
                <img *ngIf="event.image; else noImage" src={{event.image}} class="card-img-top" alt={{event.name}}>
                <ng-template #noImage>
                  <img src="assets/Pictures/no-image.jpg" class="card-img-top" alt="No Image Available">
                </ng-template>
              </div>
            </a>
						<div class="card-body">
              <h5 class="card-title">{{event.name}}</h5>
              <ul class="list-unstyled list-inline mb-0">
                <li class="list-inline-item">
                  <i class="bi bi-star-fill text-warning"></i>    <!--bi-star, bi-star-fill, bi-star-half-->
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-star-fill text-warning"></i>   <!--a csillagokat aszerint kell "teltté" változtatni, ahogy arányaiban kijön az értékelések alapján. Lényegében az átlag adja-->
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-star-fill text-warning"></i>
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-star-fill text-warning"></i>
                </li>
                <li class="list-inline-item">
                  <i class="bi bi-star-half text-warning"></i>
                </li>
                <li class="list-inline-item">
                  <p class="text-muted">4.5 (413)</p>   <!--itt kell visszaadni az átlagát az értékeléseknek az adott eseményre + hogy hány értékelés érkezett rá-->
                </li>
              </ul>
              <p class="card-text" style="display: inline-block">{{event.startDate}}-{{event.endDate}}</p>	<!--be kell állítani, hogy csak akkor jelenjen meg, ha van adat. Ha nincs dátum adat, akkor valami általános dolgot írjon ki..Pl: Állandó..vagy ilyesmi -->
              <!-- <p class="card-text" style="display: inline-block; padding-left: 3.8rem;">{{event.startTime}}-{{event.endTime}}</p> be kell állítani, hogy csak akkor jelenjen meg, ha van adat-->
              <p class="card-text" style="text-align: left; display: inline-block;">{{event.locationName}}</p>
              <!-- <p class="card-text" style="text-align: left; display: inline-block;" ><small class="text-body-secondary">{{event.address}}</small></p> -->
              <div class="split">
                <p class="card-text" style="display: inline-block;" id="description">{{event.description}}</p>
                <button class="btn btn-primary" type="button" title="Bakancslistára tesz">
                  <i class="bi bi-plus-lg"></i>
                </button>
              </div>
              <!-- <div class="clone-bar">
                <div class="into-bucket-list">
                  <button class="btn btn-primary" type="button" title="Bakancslistára tesz">
                    <i class="bi bi-plus-lg"></i>
                  </button>
                </div>
              </div> -->
						</div>
					</div>
				</div>

			<!--Kártyák felépítésének vége-->

		</div>

	</div>

</div>
