.input-group {
    position: relative;
    padding: .75rem 1rem;
}

.form-control {
    font-size: .813rem;
}

.dp-hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

.inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
}

button {
    border: solid 1px #dee2e6;
}

#delete-x {
    border: none;
    background-color: #ffffff;
    padding-left: 0;
    padding-right: 16px;
}

.bi-x::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 900 !important;
    font-size: 1.3rem;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}